/*rimozione margini esterni*/
body{
    margin:0;
    padding:0;
}
/*Pagina-Sfondo*/
.VIEWPOINT{
    width: 100%;
    height: 100vh;
    display: flex;
    overflow: hidden;
    background-color: black;
}
/*Box Video background*/
VIDEO{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    align-items: top;
    justify-content: center;
    overflow: hidden;
}
/*Box titolo 1*/
.TITOLO1{
    position:absolute;
    top: 5%;
    width: 100%;
    height: 10vh;
    display: flex;
    align-items: top;
    justify-content: center;
    overflow: hidden;
}
/*Stile titolo 1*/
.TITOLO1 h1{
    margin:0;
    padding:0;
    font-size: 100px;
    z-index: 2;
    color:white
}
/*Box titolo 2*/
.TITOLO2{
    position:absolute;
    top: 15%;
    width: 100%;
    height: 5vh;
    display: flex;
    align-items: top;
    justify-content: center;
    overflow: hidden;
}
/*Stile titolo 2*/
.TITOLO2 h2{
    margin:0;
    padding:0;
    font-size: 30px;
    text-align: center;
    z-index: 2;
    color:white
}
/*Box link text*/
.LINKTEXT{
    top:35%;
    position: absolute;
    width: 50%;
    height: 40vh;
    display: flex;
    justify-content: left;
    overflow: hidden;
    z-index: 2;
}
/*link text rimozione margini*/
.LINKTEXT ul li{
    list-style-type: none; 
    padding-left: 0;       
    margin-left: 0;  
}
.LINKTEXT a {
    font-size: 25PX;
    color :white
}
ul li{
    margin: 20px;
}
    a:link, a:visited { text-decoration: none}
    a:hover {text-decoration: underline}
/*Box footer pagina*/
.FOOTER{ 
    position: absolute;
    bottom:0%;
    width: 100%;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}
/*Stile paragrafo footer*/
.FOOTER p{
    font-size: 17PX;
    color :white
}

/*Ridimensione sito per TABLET*/
@media screen and (max-width: 1024px){
/*Video background*/
VIDEO{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    align-items: top;
    justify-content: center;
    overflow: hidden;
    background-color: black;
}
/*Box titolo 1*/
.TITOLO1{
    position:absolute;
    top: 5%;
    width: 100%;
    height: 10vh;
    display: flex;
    align-items: top;
    justify-content: center;
    overflow: hidden;
}
/*Stile titolo 1*/
.TITOLO1 h1{
    margin:0;
    padding:0;
    font-size: 70px;
    z-index: 2;
    color:white
}
/*Box titolo 2*/
.TITOLO2{
    position:absolute;
    top: 15%;
    width: 100%;
    height: 5vh;
    display: flex;
    align-items: top;
    justify-content: center;
    overflow: hidden;
}
/*Stile titolo 2*/
.TITOLO2 h2{
    margin:0;
    padding:0;
    font-size: 30px;
    text-align: center;
    z-index: 2;
    color:white
}
/*Box link text*/
.LINKTEXT{
    top:55%;
    position: absolute;
    width: 50%;
    height: 40vh;
    display: flex;
    justify-content: left;
    overflow: hidden;
    z-index: 2;
}
/*link text rimozione margini*/
.LINKTEXT ul li{
    list-style-type: none; 
    padding-left: 0;       
    margin-left: 0;  
}
/*Stile footer elenco testuali*/
.LINKTEXT a {
    font-size: 20PX;
    color :white
}
ul li{
    margin: 20px;
}
    a:link, a:visited { text-decoration: none}
    a:hover {text-decoration: underline}
}

/*Ridimensione sito per Smartphone*/
@media screen and (max-width: 643px){
/*Video background*/
VIDEO{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    align-items: top;
    justify-content: center;
    overflow: hidden;
    background-color: black;
}
/*Box titolo 1*/
.TITOLO1{
    position:absolute;
    top: 5%;
    width: 100%;
    height: 10vh;
    display: flex;
    align-items: top;
    justify-content: center;
    overflow: hidden;
}
/*Stile titolo 1*/
.TITOLO1 h1{
    margin:0;
    padding:0;
    font-size: 45px;
    z-index: 2;
    color:white
}
/*Box titolo 2*/
.TITOLO2{
    position:absolute;
    top: 15%;
    width: 100%;
    height: 5vh;
    display: flex;
    align-items: top;
    justify-content: center;
    overflow: hidden;
}
/*Stile titolo 2*/
.TITOLO2 h2{
    margin:0;
    padding:0;
    font-size: 12px;
    text-align: center;
    z-index: 2;
    color:white
}
/*Box link text*/
.LINKTEXT{
    top:43%;
    position: absolute;
    width: 50%;
    height: 40vh;
    display: flex;
    justify-content: left;
    overflow: hidden;
    z-index: 2;
}
/*link text rimozione margini*/
.LINKTEXT ul li{
    list-style-type: none; 
    padding-left: 0;       
    margin-left: 0;  
}
/*Stile footer elenco testuali*/
.LINKTEXT a {
    font-size: 12PX;
    color :white
}
ul li{
    margin: 20px;
}
    a:link, a:visited { text-decoration: none}
    a:hover {text-decoration: underline}
}
/*Stile paragrafo footer*/
.FOOTER p{
    font-size: 11PX;
    color :white
}

